body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(247, 247, 247)
}
header{
    
    position: fixed;
    z-index: 1000;
    width: 60vw;
    height: 300px;
    margin-left: 400px;
    z-index: 1;
    
}
.logo{
    height: 100px;
}
